<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893850587598-r4b0a5dp68lvf2l5k9si3iv6gadf6jgd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893850587598-r4b0a5dp68lvf2l5k9si3iv6gadf6jgd</string>
	<key>API_KEY</key>
	<string>AIzaSyCQFi5JPwNgRso9AV8DKXiVZ1H2nFZLKZY</string>
	<key>GCM_SENDER_ID</key>
	<string>893850587598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apprenDev.RecordAudio</string>
	<key>PROJECT_ID</key>
	<string>recordaudio-f6aa5</string>
	<key>STORAGE_BUCKET</key>
	<string>recordaudio-f6aa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893850587598:ios:692961dcd35986fbbf1b9f</string>
</dict>
</plist>